<div id="<%= id %>" class="carta desenvolvedor <%= carta['tipo'] %>">
  <h3><%= carta['titulo'] %></h3>
  <span class="renda">$<%= carta['renda'] %></span>
  /
  <span class="bits"><%= carta['bits'] %>b</span>
</div>
