---
title: DataHack
---
<%= md_render '../regras.md' %>

<h2>Desenvolvedores</h2>
<%= yaml_render '../desenvolvedores.yml', 'desenvolvedor' %>

<h2>Designers</h2>
<%= yaml_render '../designers.yml', 'designer' %>

<h2>Equipe</h2>
<%= yaml_render '../equipe.yml', 'equipe' %>

<h2>Hardware</h2>
<%= yaml_render '../hardware.yml', 'hardware' %>

<h2>Software</h2>
<%= yaml_render '../software.yml', 'software' %>

<h2>Eventos</h2>
<%= yaml_render '../eventos.yml', 'evento' %>

<h2>Bugs</h2>
<%= yaml_render '../bugs.yml', 'bug' %>

